@page "/account/notifications"

<div class="notifications">
    <h2 class="standard-heading">Notifications</h2>
    <div class="form-group">
        <label class="standard-heading">Preferred email for notifications</label>
        <input type="text" class="form-sign-in" placeholder="example@gmail.com" name="email">
    </div>
    <div class="flex">
        <div class="switch-btn">
            <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
            </label>
        </div>
        <div class="switch-text">
            <h6 class="standard-heading">Subscribe to Newsletter</h6>
            <p class="text-s ">Nec, posuere non felis duis massa vitae aliquet interdum scelerisque. Neque ullamcorper.</p>
        </div>
    </div>

    <div class="flex">
        <div class="switch-btn">
            <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
            </label>
        </div>
        <div class="switch-text">
            <h6 class="standard-heading">Use Dark Mode Theme in Application</h6>
            <p class="text-s ">Tortor massa porttitor enim tristique neque fermentum sed.</p>
        </div>
    </div>

    <div class="form-flex">
        <button type="reset" class="white-btn">Cancel</button>
        <button type="submit" class="theme-btn"><span>Save changes</span></button>
    </div>
</div>
    

@code {

}
