@using Microsoft.AspNetCore.Identity
@using Frontend_Js_Backend.Data



<div class="profile-navbar text-nav">
    <nav>
        <NavLink href="/account/details" class="menu-link"><i class="fa-sharp fa-regular fa-gear"></i><span>Account Details</span></NavLink>

        
        <NavLink href="/account/notifications" class="menu-link"><i class="fa-regular fa-bell"></i><span>Notifications</span></NavLink>
        <NavLink href="/signout" class="menu-link"><i class="fa-sharp fa-solid fa-arrow-left-from-bracket"></i> <span class="">Sign Out</span></NavLink>

       
    </nav>
</div>

@code {
   
}
