.d4 {
    font-size: 56px;
    line-height: 130%;
    font-weight: 800;
    color: #0B0F19;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 28px;
    margin: 0;
}

h4 {
    font-size: 24px;
    margin: 0;
}

h5 {
    font-size: 20px;
    margin: 0;
}

h6 {
    font-size: 16px;
    margin: 0;
}

.text-xs {
    font-size: 12px;
}

.text-s {
    font-size: 14px;
}

.text-m {
    font-size: 16px;
}

.text-l {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-lead {
    font-size: 24px;
}

p {
    margin: 0;
}