<section class="dashboard">
    <div class="container">
        <img src="/images/pics/dashboard.png" alt="picture of a dashboard">
        <div class="work-checks">
            <h2 class="standard-heading">Manage Your Work</h2>
            <div class="manage-work-text">
                <p class="text-m standard-text"><i class="fa-sharp fa-regular fa-circle-check"></i>Powerful project management</p>
                <p class="text-m standard-text"><i class="fa-sharp fa-regular fa-circle-check"></i>Transparent work management</p>
                <p class="text-m standard-text"><i class="fa-sharp fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</p>
                <p class="text-m standard-text"><i class="fa-sharp fa-regular fa-circle-check"></i>Track your progress with interactive charts</p>
                <p class="text-m standard-text"><i class="fa-sharp fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</p>
            </div>
            <a href="#" class="theme-btn">Learn More<i class="fa-regular fa-arrow-right"></i></a>
        </div>
    </div>
</section>