<section id="tool-info">
    <div class="container">
        <div class="section-text-center">
            <h1 class="standard-heading">What Do You Get with Our Tool?</h1>
            <p class="text-l">Make sure all your tasks are organized so you can set the priorities and focus <br> on important.</p>
        </div>
        <div class="grid-features">
            <div class="feature-card">
                <i class="fa-regular fa-message-lines"></i>
                <h5 class="standard-heading">Comments on Tasks</h5>
                <p class="normal-text">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="feature-card">
                <i class="fa-regular fa-chart-mixed"></i>
                <h5 class="standard-heading">Tasks Analytics</h5>
                <p class="normal-text">Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="feature-card">
                <i class="fa-regular fa-users"></i>
                <h5 class="standard-heading">Multiple Assignees</h5>
                <p class="normal-text">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="feature-card">
                <i class="fa-regular fa-bell-ring"></i>
                <h5 class="standard-heading">Notifications</h5>
                <p class="normal-text">Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="feature-card">
                <i class="fa-regular fa-ballot-check"></i>
                <h5 class="standard-heading">Sections & Subtasks</h5>
                <p class="normal-text">Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="feature-card">
                <i class="fa-sharp fa-regular fa-shield-check"></i>
                <h5 class="standard-heading">Data Security</h5>
                <p class="normal-text">Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</section>