<section class="mobile-app">
    <div class="container">
        <img src="/images/pics/mobile-app.png" alt="mobile app dashboard">
        <div class="our-app">
            <h1 class="standard-heading">Download Our App<br>for Any Devices:</h1>
            <p class="text-m standard-text">App Store</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <div class="flex">
                <div>
                    <h4 class="standard-heading">Editor's Choice</h4>
                    <p class="standard-text text-m">rating 4.7, 187K+ reviews</p>
                </div>
                <a href="#"><img src="/images/pics/appstore.png" alt="appstore dowload button"></a>
            </div>
            <p class="text-m standard-text">Google Play</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <div class="flex">
                <div>
                    <h4 class="standard-heading">App of the Day</h4>
                    <p class="standard-text text-m">rating 4.8, 30K+ reviews</p>
                </div>
                <a href="#"><img src="/images/pics/googleplay.png" alt="appstore dowload button"></a>
            </div>
        </div>
    </div>
</section>