<section id="showcase">
    <div class="container">
        <div class="showcase-text-content">
            <p class="d4">Task Management Assistant You Gonna Love</p>
            <p class="standard-text text-l">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a href="#" class="theme-btn text-nav">Get started for free</a>
            <h6 class="standard-heading text-l">Largest companies use our tool to work efficiently</h6>
            <div class="showcase-brands">
                <a href="#"><img src="/images/brands/company1.svg" alt="Comapny logo"></a>
                <a href="#"><img src="/images/brands/company2.svg" alt="Comapny logo"></a>
                <a href="#"><img src="/images/brands/company3.svg" alt="Company logo"></a>
                <a href="#"><img src="/images/brands/company4.svg" alt="Company logo"></a>
            </div>
        </div>
        <img src="/images/pics/showcase.png" class="showcase-image" alt="showcase picture">
    </div>
</section>