<section class="work-tools">
    <div class="container">
        <div class="section-text-center">
            <h1 class="standard-heading">Integrate Top Work Tools</h1>
            <p class="standard-text text-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus<br> facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="grid-work-tools">
            <a href="https://www.google.se/" target="_blank" class="work-tools-card">
                <img src="/images/logo/google.png" alt="google's logo">
                <p class="standard-text text-m">Lorem magnis pretium sed<br> curabitur nunc facilisi nunc cursus<br> sagittis.</p>
            </a>
            <a href="https://www.zoom.com/sv" target="_blank" class="work-tools-card">
                <img src="/images/logo/Zoom.png" alt="Zoom's logo">
                <p class="standard-text text-m">In eget a mauris quis. Tortor dui tempus quis integer est sit<br> natoque placerat dolor.</p>
            </a>
            <a href="https://slack.com/" target="_blank" class="work-tools-card">
                <img src="/images/logo/Slack.png" alt="Slack's logo">
                <p class="standard-text text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </a>
            <a href="https://mail.google.com/" target="_blank" class="work-tools-card">
                <img src="/images/logo/gmail.png" alt="Gmail's logo">
                <p class="standard-text text-m">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </a>
            <a href="https://trello.com/" target="_blank" class="work-tools-card">
                <img src="/images/logo/Trello.png" alt="Trello's logo">
                <p class="standard-text text-m">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </a>
            <a href="https://mailchimp.com/?currency=SEK" target="_blank" class="work-tools-card">
                <img src="/images/logo/MailChimp.png" alt="MailChimp's logo">
                <p class="standard-text text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </a>
            <a href="https://www.dropbox.com/sv_SE/" target="_blank" class="work-tools-card">
                <img src="/images/logo/Dropbox.png" alt="Dropbox's logo">
                <p class="standard-text text-m">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </a>
            <a href="https://www.google.com/search?sca_esv=5a7521aecf6aaae0&sxsrf=ADLYWIIzdMy6M3mG1OHyxcS4BnNvdE-LyQ:1736212095585&q=elephant&udm=2&fbs=AEQNm0A6bwEop21ehxKWq5cj-cHabtDF9k5_O8FotNkF4z1i4ax77TSCoUrvAc2x4IpPCwoUVAudxoP0rSPhxmXxXOJiiyocRW7R9PPsfb2VzyEZPj524Sou3tWyzVJ7JYuxMDtLBxcMjXPL7oZLEgxpGY1m5G0XnO8AWrKMYt9TU01T5ssg3RM&sa=X&ved=2ahUKEwjd8tiJtuKKAxWKHRAIHZzTIEoQtKgLegQIChAB&biw=3440&bih=1313&dpr=1#vhid=6cg1acr24UH2FM&vssid=mosaic" target="_blank" class="work-tools-card">
                <img src="/images/logo/Clip-2.png" alt="Clip-2's logo">
                <p class="standard-text text-m">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </a>
        </div>
    </div>
</section>